<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Book crud</title>
<link rel="stylesheet" href="../static/css/tableGen.css"
	th:href="@{/css/tableGen.css}">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$("#opener").click(function(){
		$("#createbook").toggle(700);
		});
});
</script>
<script
	src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
<script>
$(document).ready(function(){
	$("#addbookform").validate({
	rules : {
		title : {
				required : true,
				minlength: 5
			},
		author : {
				required : true
			}	
		}
		});
});
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- <script src="../static/js/jquery.confirm.js" th:src="@{/js/jquery.confirm.js}"></script> -->
<script src="jquery.confirm.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function{

	$('.custbutton2').click(function(){

		$.confirm({
			'title'		: 'Delete Confirmation',
			'message'	: 'You are about to delete this item. <br />It cannot be restored at a later time! Continue?',
			'buttons'	: {
				'Yes'	: {
					
					'action': function(){					
					}
				},
				'No'	: {
					
					'action': function(){}	// Nothing to do in this case. You can as well omit the action property.
				}
			}
		});

	});
			
});
</script>

</head>
<body>
	<div id="container">
		<div id="logo">
			<p>
				<img src="../static/images/logo1.jpg" th:src="@{/images/logo1.jpg}"
					alt="Books" />
			</p>
		</div>

		<div id="content">
			<div id="block1">
				<button id="opener" class="custbutton">Add book</button>

				<div id="createbook" title="Create book" class="hidden">
					<fieldset>
						<legend>
							<h2>Add book</h2>
						</legend>
						<form id="addbookform" action="#" th:action="@{/main}"
							th:object="${bookToCreate}" method="post">

							<label for="title">Title</label> <br /> <input type="text"
								th:field="*{title}" id="title" name="title"> <br />
							<!-- <script>
                            Spring.addDecoration(new Spring.ElementDecoration({
                                elementId : "title",
                                widgetType : "dijit.form.ValidationTextBox",
                                widgetAttrs : { required : true, invalidMessage : "A 16-digit credit card number is required.", 
                                regExp : "[0-9]{16}"  }}));
                        </script> -->

							<label for="author">Author</label> <br /> <input type="text"
								th:field="*{author}" id="author" name="author"> <br />
							<br />


							<button type="submit" name="addBook" class="custbutton"
								onclick="return confirm('Add this book ?');">Add</button>

							<!-- </fieldset> -->
						</form>
					</fieldset>
				</div>
			</div>

			<div id="block2">
				<table>
					<caption align="left">
						<h2>All books</h2>
					</caption>
					<tbody>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Author</th>
							<!-- <th></th> -->
							<th style="width: 100px;">Action</th>
						</tr>
						<tr th:each="book : ${books}" th:object="${book}">
							<td th:text="*{id}">Book id</td>
							<td th:text="*{title}">Book Title</td>
							<td th:text="*{author}">Book author</td>
							<!-- <td><a href="#">edit</a></td> -->
							<td>
								<table style="border: none">
									<tr style="border: none">
										<td style="border: none"><a href="#"
											th:href="@{'/edit/' + *{id}}">edit</a></td>
										<td style="border: none">
											<form action="#" th:action="@{'/edit/' + *{id}}"
												method="post" th:method="post">
												<button id="deletebtn" class="custbutton2" name="deleteBook"
													type="submit">delete</button>
												<!-- onclick="return confirm('Are you sure you want to delete this item?');" -->
												<!-- 	type="submit">delete</button> -->

											</form>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:include="footer :: footer"
			style="position: fixed; bottom: 2px; width: 100%; display: block;">...</div>
	</div>
</body>
</html>