<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Book crud</title>
<link rel="stylesheet" href="../static/css/tableGen.css"
	data-th-href="@{/css/tableGen.css}">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

</head>
<body>
	<div id="container">
		<div id="logo">
			<p>
				<img src="../static/images/logo1.jpg" th:src="@{/images/logo1.jpg}"
					alt="Books" />
			</p>
		</div>
		
		<div id="content">
			<div id="block1">
				<button id="opener" class="custbutton">Add book</button>

				<div id="createbook" title="Create book" class="hiddenbookdiv">
					<fieldset class="addbookfield">
						<legend>
							<h2>Add book</h2>
						</legend>
						<form id="addbookform" class="addbookformclass" ClientIdMode="Static" action="#"
							th:action="@{/main}" th:object="${bookToCreate}" method="post">

							<label for="title">Title</label> <br /> <input type="text"
								th:field="*{title}" id="title" name="title"> <br />
							
							<label for="author">Author</label> <br /> <input type="text"
								th:field="*{author}" id="author" name="author"> <br />
							<br />


							<button type="submit" name="addBook" class="custbutton">Add</button>

						
						</form>
					</fieldset>
				</div>
			</div>

			<div id="block2">
				<table data-th-if="${not #lists.isEmpty(books)}">
					<caption align="left">
						<h2>All books</h2>
					</caption>
					<tbody>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Author</th>
							<!-- <th></th> -->
							<th style="width: 90px;">Action</th>
						</tr>
						<tr th:each="book : ${books}" th:object="${book}">
							<td th:text="*{id}">Book id</td>
							<td th:text="*{title}">Book Title</td>
							<td th:text="*{author}">Book author</td>
							<td>
								<table style="border: none">
									<tr style="border: none">
										<td style="border: none"><a href="#"
											th:href="@{'/edit/' + *{id}}">edit</a></td>
										<td style="border: none">
											<form action="#" th:action="@{'/edit/' + *{id}}"
											class="deleteform"	method="post" th:method="post">
												<button id="deletebtn" class="custbutton2" type="submit">delete</button>
												
											</form>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:include="footer :: footer"
			style="position: fixed; bottom: 2px; width: 100%; display: block;">...</div>
	</div>

	<!--*****SCRIPTS***** -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script src="/js/jquery.confirm.js"></script>

	<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>

<script>
$(document).ready(function(){
	
		$(".custbutton2").confirm({
		    text: "Are you sure you want to delete that item?",
		    confirm: function() {
		       $(".deleteform").submit();
		    },
		    cancel: function() {
		        // nothing to do
		    }
		});
	
});
</script>

<script>
$(document).ready(function(){
	$("#createbook").hide();
});
</script>

<script>
$(document).ready(function(){
	$("#opener").click(function(){
		$("#createbook").toggle(700);
		});
});
</script>

<script>
$(document).ready(function(){
	$(".addbookformclass").validate({
	rules : {
		title : {
				required : true,
				minlength: 5
			},
		author : {
				required : true
			}	
		}
	});
});
</script>

</body>
</html>